<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="errorLog" xsi:type="File"
            fileName="${basedir}/logs/error_${date:format=yyyyMMdd}.log"/>
    <target name="traceLog" xsi:type="File"
            fileName="${basedir}/logs/trace_${date:format=yyyyMMdd}.log"/>
    <target name="console" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="*" writeTo="errorLog" minlevel="Warn"/>
    <logger name="*" writeTo="traceLog" levels="Trace,Debug,Error"/>
    <logger name="*" writeTo="console" minLevel="Trace"/>
  </rules>
</nlog>